name: CI

on:
  push:
    branches: [main]
  pull_request: {}
  workflow_dispatch:
    inputs:
      debug:
        description: "Enable debug mode (pause execution on failure)"
        required: false
        type: choice
        options: [ "true","false" ]
        default: "false"

env:
  DAGGER_PROGRESS: ${{ (inputs.debug || 'false') == 'true' && 'plain' || 'dots' }}


jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        module:
          - autodetection
          - node
          - yq
          - infrabox

    steps:
      - uses: actions/checkout@v4
      - name: Call Dagger Function
        uses: dagger/dagger-for-github@v5
        with:
          version: "0.19.2"
          verb: call
          module: ./ci
          args: ${{ matrix.module }} --test-data-src=./testdata/${{ matrix.module }}/
          cloud-token: ${{ secrets.DAGGER_CLOUD_TOKEN }}